.homePage {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(90deg, rgba(10,0,36,1) 0%, rgba(179,27,193,1) 81%, rgba(0,212,255,1) 98%);
}

.homePage .postFormContainer {
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
  
}

.homePage .postFormContainerInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}  