.successNotificaitonWrapper {
    position: absolute;
    bottom: 0;
    width: 20vw;
    height: 5vw;
    background: #8ef78e;
    margin: 10px;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successMessage{
    color: #176616;
}